.description-socil-media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.Paragraph-service {
  font-family: "Open Sans", sans-serif;
  color: #707070;
  line-height: 1.75;
}
.service-social-media {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.medias-name ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
.medias-name ul li {
  border-bottom: 1px solid gray;
  padding: 5px;
}
.medias-name {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.CONTACT-SERVICE {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image-social-media {
  width: 60%;
  height: 60%;
}
@media screen and (max-width: 997px) {
  .main-social-media {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-social-media {
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
  }
}
